## Webscraping IMDb 1000 Greatest Films of all Time and Exploratory Data Analysis (EDA)

#### This Webscraper will scrape data for all 1000 films and will collect the following:
* Title
* Genre
* Release Year
* Director
* Lead Actor
* Run Time
* MPA Rating
* IMDb Stars Rating
* Synopsis
* Metascore
* Votes
* Gross
* Thumbnail Image URL

#### Import libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
from time import sleep
from random import randint
import re
from wordcloud import WordCloud
from nltk.corpus import stopwords
import nltk

In [2]:
# enable English translation of film titles
headers = {'Accept-Language': 'en-US, en;q=0.5'}

#### Use Requests to request page from server and get response status code to ensure request has succeeded

In [3]:
page_1_url = 'https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&ref_=adv_prv'
page_1_url_response = requests.get(page_1_url)

print(page_1_url_response.status_code)

200

#### Initialize empty lists in which to store extracted (scraped) IMDb data

In [4]:
# initialize empty lists

title = []
genre = []
year = []
director = []
lead = []
time_minutes = []
mpa_rating = []
imdb_stars_rating = []
synopsis = []
metascore = []
votes = []
gross = []
image_url = []


From first page, each successive page in the 1000 film list has a url that contains a change to the page number starting with no page designation for the first page, to the number indicating the additional 100 items in the film list: 101, 201, 301, 401, 501, 601, 701, 801, 901, with the latter containing the last 100 films in the collection. The screen shot below shows the url pagination pattern.

items 1 to 100

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&ref_=adv_prv

items 101 to 200

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=101&ref_=adv_prv

items 201 to 300

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=201&ref_=adv_prv

items 301 to 400

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=301&ref_=adv_prv

items 401 to 500

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=401&ref_=adv_prv

items 501 to 600

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=501&ref_=adv_prv


...

items 901 to 1000

https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=901&ref_=adv_nxt

Consider the IMDb pages list 1000 films with each of the 10 pages listing 100 films. From above page URLs we can see that each page contains a list of 100 films. The variable 'page' will store the 10 page designations for each of the page URLs.

In [5]:
# create an array using: numpy.arange([start, ]stop, [step, ], dtype=None)

pages = np.arange(1, 1001, 100)

# get list containing the 10 pages that contain 100 films each
pages

array([  1, 101, 201, 301, 401, 501, 601, 701, 801, 901])

#### Webscraping Steps

1. Loop through the pages that contain each of the page URLs

2. Get the page data from each of the URLs

3. Use BeautifulSoup to parse the HTML returned from each of the URLs

4. Begin inspecting web elements in the pages

5. Begin scraping (extracting) data from the HTML soup using the find_all( ) method. This method will extract all of the div containers that have a class attribute of 'lister-item mode-advanced'

<img src="images/div_container.png" alt="inspecting HTML" width="600"/>

6. Create a for loop to loop through each of these divs and scrape the data from the pertinent elements contained therein

7. Loop through each of the div containers and use BeautifulSoup to parse the data to append each of the IMDb data lists created earlier

In [6]:
for page in pages:
    page = requests.get("https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start=" + str(page) + "&ref_=adv_nxt", headers = headers)
    soup = BeautifulSoup(page.content, 'html.parser')
    imdb_data = soup.find_all('div', {'class': 'lister-item mode-advanced'})
    # random delay in seconds between requests so as not to send excess number of requests for given time period
    sleep(randint(2,10)) # random integer between 2 and 10 seconds
    
    for data in imdb_data:
        
        film = data.h3.a.text
        title.append(film)
        
        genre_type = data.p.find('span', {'class': 'genre'}).text.replace('\n', ' ')
        genre.append(genre_type)
        
        release = data.h3.find('span', {'class': 'lister-item-year text-muted unbold'}).text.replace('(', ' ').replace(')', ' ')
        year.append(release)
        
        a_tag = data.find('p', {'class': ''})
        a_tag = a_tag.select('a[href^="/name/"]')
        directors = a_tag[0].text
        director.append(directors)
        
        actor = a_tag[1].text
        lead.append(actor)
        
        runtime = data.p.find('span', {'class': 'runtime'}).text.replace(' min', ' ')
        time_minutes.append(runtime)
        
        # motion picture association (mpa) ratings such as R, PG, PG-14
        mpa_rate = data.find('span', {'class': 'certificate'})
        if mpa_rate is not None:
            mpa_rate = data.find('span', {'class': 'certificate'}).text
            # print('mpa_rate:', mpa_rate.text)
        mpa_rating.append(mpa_rate)
        
        star_rate = data.find('div', {'class': 'inline-block ratings-imdb-rating'}).text.replace('\n', ' ')
        imdb_stars_rating.append(star_rate)
        
        p_tag = data.find_all('p', {'class': 'text-muted'})
        syn = p_tag[1].text.replace('\n', ' ')
        synopsis.append(syn)
        
        meta = data.find('span', {'class': 'metascore'}).text if data.find('span', {'class': 'metascore'}) else '----'
        metascore.append(meta)
        
        nv_tag = data.find_all('span', attrs = {'name': 'nv'})
        
        vote = nv_tag[0].text
        votes.append(vote)
        
        grs = nv_tag[1].text if len(nv_tag) > 1 else '----'
        gross.append(grs)
        
        img_tag = data.find('div', {'class': 'lister-item-image float-left'})
        x = img_tag.img.attrs['loadlate']
        image_url.append(x)

#### Ensure that all columns are the same length

In [7]:
# Pandas dataframes must have columns of the same length = 1000
print(len(title),
      len(genre),
      len(year),
      len(director),
      len(lead),
      len(time_minutes),
      len(mpa_rating),
      len(imdb_stars_rating),
      len(synopsis),
      len(metascore),
      len(votes),
      len(gross),
      len(image_url))

999 999 999 999 999 999 999 999 999 999 999 999 999

#### Create Pandas DataFrame with Columns for Scraped Film Data

In [8]:
imdb_df = pd.DataFrame({
    'film_title': title,
    'genre': genre,
    'release_year': year,
    'director': director,
    'lead_actor': lead,
    'run_time_minutes': time_minutes,
    'mpa_rating': mpa_rating,
    'imdb_stars_rating': imdb_stars_rating,
    'synopsis': synopsis,
    'metascore': metascore,
    'votes': votes,
    'gross': gross,
    'image_url': image_url
    
     })

In [9]:
imdb_df.head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
0,The Shawshank Redemption,Drama,1994,Frank Darabont,Tim Robbins,142,R,9.3,"Over the course of several years, two convict...",81,"2,690,450",$28.34M,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,"Crime, Drama",1972,Francis Ford Coppola,Marlon Brando,175,R,9.2,The aging patriarch of an organized crime dyn...,100,"1,866,236",$134.97M,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,"Action, Crime, Drama",2008,Christopher Nolan,Christian Bale,152,PG-13,9.0,When the menace known as the Joker wreaks hav...,84,"2,664,076",$534.86M,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,Schindler's List,"Biography, Drama, History",1993,Steven Spielberg,Liam Neeson,195,R,9.0,In German-occupied Poland during World War II...,94,"1,360,692",$96.90M,https://m.media-amazon.com/images/M/MV5BNDE4OT...
4,The Godfather: Part II,"Crime, Drama",1974,Francis Ford Coppola,Al Pacino,202,R,9.0,The early life and career of Vito Corleone in...,90,"1,276,478",$57.30M,https://m.media-amazon.com/images/M/MV5BMWMwMG...

#### Export Scraped IMDb 1000 Greatest Films Data to .csv File

In [10]:
# export preliminary scraped imdb data to csv
# imdb_df.to_csv('top_imdb_movies.csv')

#### Scrape Film Data to Get A Specific Film Thumbnail Image

In [11]:
data.find_all('div', {'class': 'lister-item-image float-left'})

[<div class="lister-item-image float-left">
 <a href="/title/tt1242422/"> <img alt="Celda 211" class="loadlate" data-tconst="tt1242422" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BMjI2ODE4ODAtMDA3MS00ODNkLTg4N2EtOGU0YjZmNGY4NjZlXkEyXkFqcGdeQXVyMTY5MDE5NA@@._V1_UY98_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png" width="67"/>
 </a> </div>]

In [12]:
data.img.attrs

{'alt': 'Celda 211',
 'class': ['loadlate'],
 'loadlate': 'https://m.media-amazon.com/images/M/MV5BMjI2ODE4ODAtMDA3MS00ODNkLTg4N2EtOGU0YjZmNGY4NjZlXkEyXkFqcGdeQXVyMTY5MDE5NA@@._V1_UY98_CR0,0,67,98_AL_.jpg',
 'data-tconst': 'tt1242422',
 'height': '98',
 'src': 'https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png',
 'width': '67'}

In [13]:
data.img.attrs['alt']

'Celda 211'

In [14]:
data.img.attrs['class']

['loadlate']

In [15]:
# print film image url
from IPython.display import Image
image_url = data.find('img').attrs['src']
Image(url= image_url)
image_url = data.src
image_url = data.find('img').attrs['src']
print(image_url)

https://m.media-amazon.com/images/S/sash/4FyxwxECzL-U1J8.png

In [16]:
# display thumbnail image
from IPython.display import Image
image_url = data.find('img').attrs['loadlate']
Image(url= image_url)

### Exploratory Data Analysis

#### Explore Data

In [17]:
imdb_df.dtypes

film_title           object
genre                object
release_year         object
director             object
lead_actor           object
run_time_minutes     object
mpa_rating           object
imdb_stars_rating    object
synopsis             object
metascore            object
votes                object
gross                object
image_url            object
dtype: object

In [18]:
# check for duplicates
imdb_df.duplicated().sum()

0

In [19]:
# check dataset for null values
imdb_df.isnull().sum()

film_title            0
genre                 0
release_year          0
director              0
lead_actor            0
run_time_minutes      0
mpa_rating           16
imdb_stars_rating     0
synopsis              0
metascore             0
votes                 0
gross                 0
image_url             0
dtype: int64

In [20]:
# newdf = df.copy()
final_df = imdb_df.copy()

#### Clean Data

In [21]:
# get rid of null values by filling with unknown for those in mpa_rating, and mean values for gross and mestascore
final_df['mpa_rating'].fillna("unknown",inplace=True)

In [22]:

final_df.head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
0,The Shawshank Redemption,Drama,1994,Frank Darabont,Tim Robbins,142,R,9.3,"Over the course of several years, two convict...",81,"2,690,450",$28.34M,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,"Crime, Drama",1972,Francis Ford Coppola,Marlon Brando,175,R,9.2,The aging patriarch of an organized crime dyn...,100,"1,866,236",$134.97M,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,"Action, Crime, Drama",2008,Christopher Nolan,Christian Bale,152,PG-13,9.0,When the menace known as the Joker wreaks hav...,84,"2,664,076",$534.86M,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,Schindler's List,"Biography, Drama, History",1993,Steven Spielberg,Liam Neeson,195,R,9.0,In German-occupied Poland during World War II...,94,"1,360,692",$96.90M,https://m.media-amazon.com/images/M/MV5BNDE4OT...
4,The Godfather: Part II,"Crime, Drama",1974,Francis Ford Coppola,Al Pacino,202,R,9.0,The early life and career of Vito Corleone in...,90,"1,276,478",$57.30M,https://m.media-amazon.com/images/M/MV5BMWMwMG...

In [23]:
# check dataset for null values after using the fillna method above
final_df.isnull().sum()

film_title           0
genre                0
release_year         0
director             0
lead_actor           0
run_time_minutes     0
mpa_rating           0
imdb_stars_rating    0
synopsis             0
metascore            0
votes                0
gross                0
image_url            0
dtype: int64

In [24]:
final_df.dtypes

film_title           object
genre                object
release_year         object
director             object
lead_actor           object
run_time_minutes     object
mpa_rating           object
imdb_stars_rating    object
synopsis             object
metascore            object
votes                object
gross                object
image_url            object
dtype: object

In [25]:
final_df.head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
0,The Shawshank Redemption,Drama,1994,Frank Darabont,Tim Robbins,142,R,9.3,"Over the course of several years, two convict...",81,"2,690,450",$28.34M,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,"Crime, Drama",1972,Francis Ford Coppola,Marlon Brando,175,R,9.2,The aging patriarch of an organized crime dyn...,100,"1,866,236",$134.97M,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,"Action, Crime, Drama",2008,Christopher Nolan,Christian Bale,152,PG-13,9.0,When the menace known as the Joker wreaks hav...,84,"2,664,076",$534.86M,https://m.media-amazon.com/images/M/MV5BMTMxNT...
3,Schindler's List,"Biography, Drama, History",1993,Steven Spielberg,Liam Neeson,195,R,9.0,In German-occupied Poland during World War II...,94,"1,360,692",$96.90M,https://m.media-amazon.com/images/M/MV5BNDE4OT...
4,The Godfather: Part II,"Crime, Drama",1974,Francis Ford Coppola,Al Pacino,202,R,9.0,The early life and career of Vito Corleone in...,90,"1,276,478",$57.30M,https://m.media-amazon.com/images/M/MV5BMWMwMG...

In [26]:
final_df.dtypes['release_year']

dtype('O')

In [27]:
# filter for extraneous text characters in 'release_year' column
# find where the II and III characters are so we can remove them in order to convert year column to date
mask = final_df['release_year'].str.contains('II', na=False)
final_df[mask].head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
59,96,"Drama, Romance",II 2018,C. Prem Kumar,Vijay Sethupathi,158,Not Rated,8.5,Two high school sweethearts meet at a reunion...,----,"32,050",----,https://m.media-amazon.com/images/M/MV5BOGM2Yz...
318,Pink,"Crime, Drama, Thriller",III 2016,Aniruddha Roy Chowdhury,Amitabh Bachchan,136,Not Rated,8.1,When three young women are implicated in a cr...,----,"45,830",$1.24M,https://m.media-amazon.com/images/M/MV5BNGI1MT...
477,Arrival,"Drama, Mystery, Sci-Fi",II 2016,Denis Villeneuve,Amy Adams,116,PG-13,7.9,A linguist works with the military to communi...,81,"701,961",$100.55M,https://m.media-amazon.com/images/M/MV5BMTExMz...
925,Searching,"Drama, Horror, Mystery",III 2018,Aneesh Chaganty,John Cho,102,PG-13,7.6,"After his teenage daughter goes missing, a de...",71,"165,454",$26.02M,https://m.media-amazon.com/images/M/MV5BMjIwOT...
933,Hell or High Water,"Crime, Drama, Thriller",II 2016,David Mackenzie,Chris Pine,102,R,7.6,A divorced father and his ex-con older brothe...,88,"234,500",$26.86M,https://m.media-amazon.com/images/M/MV5BMTg4ND...

In [28]:
# df['column name'] = df['column name'].str.replace('old character','new character')
final_df['release_year'] = final_df['release_year'].str.replace('I', '')
final_df['release_year'] = final_df['release_year'].str.replace('II', '')
final_df['release_year'] = final_df['release_year'].str.replace('III', '')
final_df[mask].head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
59,96,"Drama, Romance",2018,C. Prem Kumar,Vijay Sethupathi,158,Not Rated,8.5,Two high school sweethearts meet at a reunion...,----,"32,050",----,https://m.media-amazon.com/images/M/MV5BOGM2Yz...
318,Pink,"Crime, Drama, Thriller",2016,Aniruddha Roy Chowdhury,Amitabh Bachchan,136,Not Rated,8.1,When three young women are implicated in a cr...,----,"45,830",$1.24M,https://m.media-amazon.com/images/M/MV5BNGI1MT...
477,Arrival,"Drama, Mystery, Sci-Fi",2016,Denis Villeneuve,Amy Adams,116,PG-13,7.9,A linguist works with the military to communi...,81,"701,961",$100.55M,https://m.media-amazon.com/images/M/MV5BMTExMz...
925,Searching,"Drama, Horror, Mystery",2018,Aneesh Chaganty,John Cho,102,PG-13,7.6,"After his teenage daughter goes missing, a de...",71,"165,454",$26.02M,https://m.media-amazon.com/images/M/MV5BMjIwOT...
933,Hell or High Water,"Crime, Drama, Thriller",2016,David Mackenzie,Chris Pine,102,R,7.6,A divorced father and his ex-con older brothe...,88,"234,500",$26.86M,https://m.media-amazon.com/images/M/MV5BMTg4ND...

In [29]:
mask = final_df['release_year'].str.contains(' 1994 ', na=False)
final_df[mask].head()

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
0,The Shawshank Redemption,Drama,1994,Frank Darabont,Tim Robbins,142,R,9.3,"Over the course of several years, two convict...",81,"2,690,450",$28.34M,https://m.media-amazon.com/images/M/MV5BMDFkYT...
7,Pulp Fiction,"Crime, Drama",1994,Quentin Tarantino,John Travolta,154,R,8.9,"The lives of two mob hitmen, a boxer, a gangs...",94,"2,064,695",$107.93M,https://m.media-amazon.com/images/M/MV5BNGNhMD...
12,Forrest Gump,"Drama, Romance",1994,Robert Zemeckis,Tom Hanks,142,PG-13,8.8,"The presidencies of Kennedy and Johnson, the ...",82,"2,088,937",$330.25M,https://m.media-amazon.com/images/M/MV5BNWIwOD...
40,Léon: The Professional,"Action, Crime, Drama",1994,Luc Besson,Jean Reno,110,R,8.5,12-year-old Mathilda is reluctantly taken in ...,64,"1,167,287",$19.50M,https://m.media-amazon.com/images/M/MV5BOTgyMW...
47,The Lion King,"Animation, Adventure, Drama",1994,Roger Allers,Rob Minkoff,88,G,8.5,Lion prince Simba and his father are targeted...,88,"1,063,710",$422.78M,https://m.media-amazon.com/images/M/MV5BYTYxNG...

In [30]:
# get a count of how many NaN values in the release_year column
final_df['release_year'].isna().sum()

0

In [31]:
# get a count of how many NaN values in the dataframe
# df.isna().sum().sum()
final_df.isna().sum().sum()

0

In [32]:
# get which columns contain NaN
final_df.isna().sum()

film_title           0
genre                0
release_year         0
director             0
lead_actor           0
run_time_minutes     0
mpa_rating           0
imdb_stars_rating    0
synopsis             0
metascore            0
votes                0
gross                0
image_url            0
dtype: int64

In [33]:
# convert release_year to numeric
# df.col1 = pd.to_numeric(df.col1, errors="coerce")
final_df.release_year = pd.to_numeric(final_df.release_year, errors="coerce")

In [34]:
final_df.dtypes['release_year']

dtype('int64')

In [35]:
# df['Year'] = pd.to_numeric(df['Year'], errors='coerce').fillna(0).astype(int)
final_df['release_year'] = pd.to_numeric(final_df['release_year'], errors='coerce').fillna(0).astype(int)

In [36]:
# get release year of nth movie
final_df.loc[548,'release_year']

1940

In [37]:
# go ahead and get film_title of the above referenced movie
final_df.loc[548,'film_title']

'The Philadelphia Story'

In [38]:
final_df.dtypes['release_year']

dtype('int64')

In [39]:
final_df.dtypes

film_title           object
genre                object
release_year          int64
director             object
lead_actor           object
run_time_minutes     object
mpa_rating           object
imdb_stars_rating    object
synopsis             object
metascore            object
votes                object
gross                object
image_url            object
dtype: object

In [40]:
# convert 'run_time' to numeric
final_df['run_time_minutes'] = final_df['run_time_minutes'].str.extract('(\d+)').astype(int)
final_df.head(3)

,film_title,genre,release_year,director,lead_actor,run_time_minutes,mpa_rating,imdb_stars_rating,synopsis,metascore,votes,gross,image_url
0,The Shawshank Redemption,Drama,1994,Frank Darabont,Tim Robbins,142,R,9.3,"Over the course of several years, two convict...",81,"2,690,450",$28.34M,https://m.media-amazon.com/images/M/MV5BMDFkYT...
1,The Godfather,"Crime, Drama",1972,Francis Ford Coppola,Marlon Brando,175,R,9.2,The aging patriarch of an organized crime dyn...,100,"1,866,236",$134.97M,https://m.media-amazon.com/images/M/MV5BM2MyNj...
2,The Dark Knight,"Action, Crime, Drama",2008,Christopher Nolan,Christian Bale,152,PG-13,9.0,When the menace known as the Joker wreaks hav...,84,"2,664,076",$534.86M,https://m.media-amazon.com/images/M/MV5BMTMxNT...

In [ ]:
# convert 'imdb_stars_rating' to float
final_df['imdb_stars_rating'] = final_df['imdb_stars_rating'].str.extract('(\d+)').astype(float)

In [ ]:
final_df.info()

In [ ]:
final_df.dtypes

In [ ]:
final_df['mpa_rating'].dtypes

In [ ]:
# df['col_name'] = df['col_name'].str.strip('[]')
# final_df['mpa_rating'] = final_df['mpa_rating'].str.strip('[]')

In [ ]:
# gross column: left strip $ and right strip M 
final_df['gross'] = final_df['gross'].map(lambda x: x.lstrip('$').rstrip('M'))
# convert gross to float and if there are dashes turn it into NaN
final_df['gross'] = pd.to_numeric(final_df['gross'], errors='coerce')
final_df.head(5)

In [ ]:
final_df.dtypes

In [ ]:
# convert 'metascore' to numeric 
final_df['metascore'] = final_df['metascore'].str.extract('(\d+)')
# convert to float and if there are dashes turn it into NaN
final_df['metascore'] = pd.to_numeric(final_df['metascore'], errors='coerce')

In [ ]:
# remove commas from votes and convert votes to numeric
final_df['votes'] = final_df['votes'].str.replace(',', '').astype(int)
final_df.head(22)

In [ ]:
final_df.dtypes

In [ ]:
final_df.head()

#### Export Final Dataframe to CSV

In [ ]:
final_df.to_csv('top_imdb_movies_final_df.csv')

In [ ]:
# summary statistics
final_df.describe()

In [ ]:
# get number of values in each column, data types
final_df.info()

### Visualization

#### What are the correlations between the quantitative variables?

In [ ]:
# create a heatmap to show correlation between quantitative variables
sns.heatmap(final_df.corr(), annot=True);

#### Heatmap Correlations
The black squares in the heat map indicate that there is a negative correlation between the release year and metascore of the films in the IMDb database of the top 1000 films. A correlation coefficient of -0.37 may be considered to be a moderate negative correlation.

As the release year of the films increases, the metascore of the films decreases, or as the films get older, they tend to have lower metascores. This might imply newer films are generally more positively reviewed than older films.

An orange square in the heat map indicates that there is a moderate positive correlation between the votes and gross revenue of the films in the dataset. A correlation coefficient of 0.59 is considered a moderate positive correlation.

This implies that as the number of votes for the films increases, the gross revenue of the films also tends to increase. This could be that films that are more popular among viewers (as measured by votes) also tend to be more financially successful. This could be an indication that films with more votes tend to have higher marketing budgets, more widespread distribution, and more favorable release dates.

Other factors that could affect the relationship between votes and gross revenue could be that films with higher budgets tend to have more special effects, better known actors, and more marketing, which could drive the number of votes and revenue.

In [ ]:
corr_df = final_df.copy()
# corr_df.head()

#### Plot of Correlation Between Metascore and IMDb Stars Rating

In [ ]:
# plot a graph showing the correlation between metascore and IMDb stars rating 

# extract the columns we need
metascore = corr_df['metascore']
star_rating = corr_df['imdb_stars_rating']

# create the scatter plot
plt.scatter(metascore, star_rating)

# add labels and a title
plt.xlabel('Metascore')
plt.ylabel('IMDb Stars Rating')
plt.title('Correlation between Metascore and IMDb Stars Rating for Top 1000 Films')

# show plot
plt.show()

In [ ]:
# find mode of the stars ratings just to confirm above scatterplot
mode_stars_rating = corr_df['imdb_stars_rating'].mode()
print(mode_stars_rating)

### What were the release years for the top 10 films?

In [ ]:
# get the top 10 films
top_10_films = final_df.head(10)

# extract the columns we need
release_year = top_10_films['release_year']
title = top_10_films['film_title']

# get the range of release years
year_range = range(min(release_year), max(release_year)+1)

# set the figure size
plt.figure(figsize=(18,12))

# need to get the x-axis to show 1 through 10 instead of 0 through 10
# because the np.arange() function starts counting at 0 by default
# to change this use the np.arange(1, len(release_year) + 1)
# and add xticks to x axis with plt.xticks(np.arange(1, len(release_year) + 1))

# create the scatter plot
plt.scatter(np.arange(1, len(release_year) + 1), release_year)

# add labels and title
plt.xlabel('Films')
plt.ylabel('Release Year')
plt.title('Release Years of Top 10 Films')
plt.xticks(np.arange(1, len(release_year) + 1))
plt.yticks(year_range)

# add the title of each film as a label
for i, txt in enumerate(title):
    plt.annotate(txt, (i+1, release_year[i]), xytext=(0, 10), textcoords='offset points', ha='center')
    
plt.grid(True, linestyle='-')

# show plot
plt.show()

In [ ]:
# newdf = df.copy()
df = final_df.copy()
df.head()

### What are the top 20 films rated PG

In [ ]:
# plot a graph of the top 20 films rated PG with annotations over bars

# filter the dataframe to only include films rated PG
pg_df = df[df['mpa_rating'] == 'PG']

# sort the dataframe by the number of votes in descending order
pg_df = pg_df.sort_values(by='votes', ascending=False)

# select the top 20 films rated PG
pg_df = pg_df.head(20)

# create a bar chart using Plotly Express
fig = px.bar(pg_df, x='film_title', y='votes', title='Top 20 Films Rated PG')

# show chart
fig.show()

In [ ]:
pg_df.head()

### What are the top 20 films rated G

In [ ]:
# plot a graph of the top 10 films rated G


# filter the dataframe to only include films rated G
g_df = df[df['mpa_rating'] == 'G']

# sort the dataframe by the number of votes in descending order
g_df = g_df.sort_values(by='votes', ascending=False)

# select the top 20 films rated PG
g_df = g_df.head(20)

# create a bar chart using Plotly Express
fig = px.bar(g_df, x='film_title', y='votes', title='Top 20 Films Rated G')

# show chart
fig.show()

In [ ]:
g_df.head(10)

### What are the top 20 films rated PG-13

In [ ]:
# plot a graph of the top 20 films rated PG-13

# filter the dataframe to only include films rated PG-13
pg13_df = df[df['mpa_rating'] == 'PG-13']

# sort the dataframe by the number of votes in descending order
pg13_df = pg13_df.sort_values(by='votes', ascending=False)

# select the top 20 films rated PG-13
pg13_df = pg13_df.head(20)

# create a bar chart using Plotly Express
fig = px.bar(pg13_df, x='film_title', y='votes', title='Top 20 Films Rated PG-13')

# show chart
fig.show()

### What are the top 20 films rated R

In [ ]:
# plot a graph of the top 20 films rated R


# filter the dataframe to only include films rated R
r_df = df[df['mpa_rating'] == 'R']

# sort the dataframe by the number of votes in descending order
r_df = r_df.sort_values(by='votes', ascending=False)

# select the top 20 films rated R
r_df = r_df.head(20)

# create a bar chart using Plotly Express
fig = px.bar(r_df, x='film_title', y='votes', title='Top 20 Films Rated R')

# show chart
fig.show()

In [ ]:
# newdf = df.copy()
th_df = final_df.copy()
th_df.head()

### What are the top films starring Tom Hanks?

In [ ]:
# create a new column that is True if Tom Hanks is in the cast and False otherwise
th_df['Tom Hanks'] = th_df['lead_actor'].str.contains('Tom Hanks')

# filter the dataframe to only include films starring Tom Hanks
th_df = th_df[th_df['Tom Hanks'] == True]

# sort the dataframe by the number of votes in descending order
th_df = th_df.sort_values(by='votes', ascending=False)

# create a bar chart using Plotly Express
fig = px.bar(th_df, x='film_title', y='votes', title='Top Films Starring Tom Hanks')

# show chart
fig.show()

In [ ]:
# newdf = df.copy()
spiel_df = final_df.copy()
spiel_df.head()

### What are the top films directed by Steven Spielberg?

In [ ]:
# create a new column that is True if Steven Spielberg is the director and False otherwise
spiel_df['Steven Spielberg'] = spiel_df['director'].str.contains('Steven Spielberg')

# filter the dataframe to only include films starring Tom Hanks
spiel_df = spiel_df[spiel_df['Steven Spielberg'] == True]

# sort the dataframe by the number of votes in descending order
spiel_df = spiel_df.sort_values(by='votes', ascending=False)

# create a bar chart using Plotly Express
fig = px.bar(spiel_df, x='film_title', y='votes', title='Top Films Directed by Steven Spielberg')

# show chart
fig.show()

In [ ]:
# newdf = df.copy()
ry_df = df.copy()
ry_df.head()

In [ ]:
vr_df = df.copy()

### Plot IMDb stars rating v votes

In [ ]:
# normalize the votes column
votes_norm = vr_df['votes']/10**6

# create the plot
plt.scatter(votes_norm, imdb_stars_rating)
plt.xlabel('Votes (millions)')
plt.ylabel('IMDb star rating')
plt.title('IMDb Stars Rating v Votes')

# show plot
plt.show()

### Plot genre v gross revenue for top 10 grossing films

In [ ]:
# plot relationship between genre and gross revenue for top 10 grossing films

# group the df by genre and calculate the sum of gross revenue for each genre:
genre_df_sum = df.groupby(['genre'])['gross'].sum()
# sort the df by gross revenue in descending order and select the top 10 genres:
genre_df_sum_sorted = genre_df_sum.sort_values(ascending=False)
top_n = 10 # select top 10 genres 
df_top_n = genre_df_sum_sorted[:top_n]
# create a bar plot of the sum of gross revenue for the top N genres:
df_top_n.plot(kind='bar', title='Sum of Gross Revenue by Genre')
plt.xlabel('Genre')
plt.ylabel('Sum of Gross Revenue')
plt.xticks(rotation=90) 
# show plot
plt.show()

### Plot line graph of gross revenue over the years

In [ ]:
df_yearly = df.groupby(['release_year'])['gross'].sum()
df_yearly.plot(kind='line', title='Gross Revenue over the Years')
plt.xlabel('Year')
plt.ylabel('Gross Revenue')
# limit the x axis to the range of 1950 to 2022
plt.xlim(1950,2022) 
plt.show()

The years following 2010 that had the least gross revenue appear to be 2020 through 2022 most likely due to the pandemic. To check which year after 2010 had the least gross revenue we can filter the release years for years after 2010 and then find the minimum gross revenue for that group of years.

#### What year after 2010 had the least gross revenue

In [ ]:
#group the data by year
gross_2010_df = df.groupby('release_year').sum()

#filter the dataframe to include only the years after 2010
gross_2010_df = gross_2010_df[gross_2010_df.index > 2010]

#find the year with the least gross revenue
year = gross_2010_df['gross'].idxmin()

#print the result
print("Year with the least gross revenue after 2010: ", year)

### Plot top 5 directors by gross revenue

In [ ]:
# group the data by Director
dir_df = final_df.groupby('director').sum().sort_values(by='gross',ascending=False)

# select only the top 5 directors by gross revenue
top_5_directors = dir_df.head(5)

# reset the index
top_5_directors.reset_index(inplace=True)

# plot a bar chart for the top 5 directors
sns.barplot(x='director', y='gross', data=top_5_directors)

# add labels and title
plt.xlabel('Directors')
plt.ylabel('Gross Revenue')
plt.title('Top 5 Directors by Gross Revenue')
plt.xticks(rotation=90)

# show chart
plt.show()

In [ ]:

# find the maximum number of votes
max_votes = final_df['votes'].max()

# print the result
print("Maximum number of votes: ", max_votes)

### Plot top 5 directors by votes

In [ ]:
# group the data by director, sorts it by votes in descending order,
# select only the top 5 directors by votes,
# reset the index and then use seaborn to plot a bar chart
# for the top 5 directors, using the director names as the x-axis labels and the votes as the y-axis values

# group the data by Director
dir_df = final_df.groupby('director').sum().sort_values(by='votes',ascending=False)

# select only the top 5 directors by gross revenue
top_5_directors = dir_df.head(5)

# reset the index
top_5_directors.reset_index(inplace=True)

# plot a bar chart for the top 5 directors
sns.barplot(x='director', y='votes', data=top_5_directors)

# add labels and title
plt.xlabel('Directors')
plt.ylabel('Votes')
plt.title('Top 5 Directors by Votes')
plt.xticks(rotation=90)
# plt.ylim(0,10000000)

# show chart
plt.show()

### Plot top 5 directors by metascore

In [ ]:
# group the data by director, sorts it by metascore in descending order,
# select only the top 5 directors by votes,
# reset the index and then use seaborn to plot a bar chart
# for the top 5 directors, using the director names as the x-axis labels and the votes as the y-axis values

# group the data by Director
dir_df = final_df.groupby('director').sum().sort_values(by='metascore',ascending=False)

# select only the top 5 directors by gross revenue
top_5_directors = dir_df.head(5)

# reset the index
top_5_directors.reset_index(inplace=True)

# plot a bar chart for the top 5 directors
sns.barplot(x='director', y='metascore', data=top_5_directors)

# add appropriate labels and title
plt.xlabel('Directors')
plt.ylabel('Votes')
plt.title('Top 5 Directors by Metascore')
plt.xticks(rotation=90)
# plt.ylim(0,10000000)

# show chart
plt.show()

### Plot top 5 lead actors by votes

In [ ]:
# group the data by lead actor, sorts it by votes in descending order,
# select only the top 5 lead actors by votes,
# reset the index and then use seaborn to plot a bar chart
# for the top 5 actors, using the actor names as the x-axis labels and the votes as the y-axis values

# group the data by lead_actor
ld_actor_df = final_df.groupby('lead_actor').sum().sort_values(by='votes',ascending=False)

# select only the top 5 directors by gross revenue
top_5_actors = ld_actor_df.head(5)

# reset the index
top_5_actors.reset_index(inplace=True)

# plot a bar chart for the top 5 directors
sns.barplot(x='lead_actor', y='votes', data=top_5_actors)

# add appropriate labels and title
plt.xlabel('Lead Actors')
plt.ylabel('Votes')
plt.title('Top 5 Lead Actors by Votes')
plt.xticks(rotation=90)
# plt.ylim(0,10000000)

# show chart
plt.show()

### Plot top 5 lead actors by metascore

In [ ]:
# group the data by lead actor, sorts it by metascore in descending order,
# select only the top 5 lead actors by metascore,
# reset the index and then use seaborn to plot a bar chart
# for the top 5 actors, using the actor names as the x-axis labels and the metascore as the y-axis values

# group the data by lead_actor
actor_df = final_df.groupby('lead_actor').sum().sort_values(by='metascore',ascending=False)

# select only the top 5 directors by metascore
top_5_actors = actor_df.head(5)

# reset the index
top_5_actors.reset_index(inplace=True)

# plot a bar chart for the top 5 directors
sns.barplot(x='lead_actor', y='metascore', data=top_5_actors)

# add appropriate labels and title
plt.xlabel('Lead Actors')
plt.ylabel('Metascore')
plt.title('Top 5 Lead Actors by Metascore')
plt.xticks(rotation=90)

# display the chart
plt.show()

### Plot a bar chart of the number of movies by MPA Rating

In [ ]:
ax = final_df['mpa_rating'].value_counts().plot(
     kind='bar',
     figsize=(12,6),
     title="Number of Movies by MPA Rating")
ax.set_xlabel("MPA Rating")
ax.set_ylabel("Number of Movies")
ax.plot();

### Plot top 5 longest running movies in minutes

In [ ]:
# Plot top 5 longest running movies in minutes

# sort the df 'minutes' column in descending order
long_df = final_df.sort_values(by='run_time_minutes', ascending=False)

# select the top 5 movies 
top_5_longest_movies = long_df.head(5)

sns.barplot(x = top_5_longest_movies['film_title'], y = top_5_longest_movies['run_time_minutes'])
plt.xlabel('Movie Title')
plt.ylabel('Running Time (minutes)')
plt.title('Top 5 Longest Running Movies')
plt.xticks(rotation=90)
plt.show()

In [ ]:
top_5_longest_movies = final_df.nlargest(5,'run_time_minutes')
top_5_longest_movies.head()

### Plot top 5 shortest running movies in minutes

In [ ]:
# Plot top 5 shortest running movies in minutes

# sort the df 'minutes' column in descending order
short_df = final_df.sort_values(by='run_time_minutes', ascending=True)

# select the top 5 movies 
top_5_shortest_movies = short_df.head(5)

sns.barplot(x = top_5_shortest_movies['film_title'], y = top_5_shortest_movies['run_time_minutes'])
plt.xlabel('Movie Title')
plt.ylabel('Running Time (minutes)')
plt.title('Top 5 Shortest Running Movies')
plt.xticks(rotation=90)
plt.show()

### Plot gross revenue v run time minutes

In [ ]:
# extract the gross revenue and run time columns from the dataframe
x = df['run_time_minutes']
y = df['gross']

# create a scatter plot
plt.scatter(x, y)

# add appropriate labels and title
plt.xlabel('Run Time (minutes)')
plt.ylabel('Gross Revenue')
plt.title('Gross Revenue v Run Time')

# show plot
plt.show()

### How many movies list Liam Neeson as the lead actor and what are those movie titles

In [ ]:
# filter the dataframe to include only the rows where Liam Neeson is the lead actor
liam_movies = final_df[final_df['lead_actor'] == 'Liam Neeson']

# find the number of rows in the filtered dataframe
num_of_movies = len(liam_movies)

# print the result
print("Liam Neeson was the lead actor in ", num_of_movies, " movies.")

# find the titles of the movies where Liam Neeson was the lead actor
titles = liam_movies['film_title']

# print the result
print("The titles of the movies where Liam Neeson was the lead actor are: ")
print(titles)

In [ ]:
# Generate a Word Cloud on text from synopsis column excluding stopwords, i.e., the, of, and, a.

# Download the NLTK stopwords
nltk.download("stopwords")

# Get the list of stopwords in English
stop_words = set(stopwords.words("english"))

# Define a function to remove stopwords from the synopsis text
def remove_stopwords(text):
    text_tokens = text.split()
    text_without_stopwords = [word for word in text_tokens if word.lower() not in stop_words]
    return " ".join(text_without_stopwords)

# Concatenate all the synopsis text in the dataset
synopsis_text = " ".join(film["synopsis"] for film in final_df)

# Remove the stopwords from the synopsis text
synopsis_text_without_stopwords = remove_stopwords(synopsis_text)

# Generate the word cloud
wordcloud = WordCloud(width = 800, height = 800, 
                background_color ='white', 
                stopwords = stop_words, 
                min_font_size = 10).generate(synopsis_text_without_stopwords)

# Plot the word cloud
plt.figure(figsize = (8, 8), facecolor = None) 
plt.imshow(wordcloud) 
plt.axis("off") 
plt.tight_layout(pad = 0) 
  
plt.show()

In [ ]:
# Resources:
# https://www.freecodecamp.org/news/web-scraping-sci-fi-movies-from-imdb-with-python/
# https://medium.com/analytics-vidhya/detailed-tutorials-for-beginners-web-scrap-movie-database-from-multiple-pages-with-beautiful-soup-5836828d23